# Database Configuration
POSTGRES_DB=order_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=jdbc:postgresql://postgres:5432/order_db

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Eureka Configuration
EUREKA_SERVER=http://eureka-server:8761/eureka

# Zipkin Configuration
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans

# Application Configuration
SERVER_PORT=8080
SPRING_APPLICATION_NAME=order-service
